//.submitButton {
//    float: right;
//}

//ul {
//    list-style-type: none;
//}

body {
    font-family: "Roboto";
}

p {
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

textarea {
    height: 100px;
}
.commentStyle {
    line-height: 1.5;
    border-bottom: 1px solid $line-color;
//    border-radius: $global-radius;
//    background: #ecf0f1;
    p {
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 1.4rem;
    }
    margin-bottom: 10px;
    a {
        text-decoration: none;
    }
}

.commenterName, .commentingAs {
    font-weight: bold;
    padding-bottom: 10px;
    display: inline;
    font-size: 1.8rem !important;
    margin-top: 10px;
    vertical-align: middle;
    margin-bottom: 20px;
}

.commentingAs {
    vertical-align: top;
    margin-bottom: 0px;
    line-height: 1.2;
    padding-bottom: 0px;
    display: inline-block;
    margin-top: 0px;
    margin-left: 10px;
}

.actionBar {
    text-align: right;
    margin-top: 10px;
}

.leftActions {
    text-align: left;
}
.replyBox {
    display: none;
//    background: #dadada;
    border: 1px solid $line-color;
    padding: 15px 20px 0px 20px;
    border-radius: $global-radius;
    margin-top: 10px;
    margin-bottom: 10px;
}

.replyStyle {
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
    background: #ECF0F1;
    margin-bottom: 10px;
}

.csToggles {
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: $global-radius;
    fieldset {
        margin-bottom: 10px;    
    }
}

.ui-checkboxradio-checked, .ui-checkboxradio-checked:hover {
    background-color: $primary-color;
    border: none;
}

.infoSection {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    h5 {
        margin-bottom: 0px;
    }
}

.icon {
    font-size: 18px;
}

img {
    width: 50px;
    display: inline;
}

.commenterLabel {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0px;
}

.commenterLinks {
    font-weight: 300;
    padding-top: 20px;
    font-size: 1.4rem;
    display: inline;
}

.commenterBar {
    margin-top: 5px;
    margin-bottom: 10px;
}

.commentsStreamHeader {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.drawer-menu {
    padding: 20px;
    overflow: scroll;
}

.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dadada;
    li {
        float:left;
        margin: 0;
        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: $primary-color;
            color: white;
            font-weight: 300;
            text-decoration: none;
            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }
}

.activeTab {
     background-color: darken($primary-color, 10%) !important;
}

.userInfo {
    text-align: center;
    h5, h6 {
        margin-bottom: 0px;
    }
    a {
        font-size: 1.2rem;
    }
    #commentingAsHeading {
        font-weight: 500;
        margin-bottom: 0px;
    }
}

.profileCommentBar {
    margin-top: 10px;
}

.commentContent {
    margin-left: 0% !important;
}

.commentHistory {
    padding: 0px 20px;
    .commentStyle {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}