//.submitButton {
//    float: right;
//}

//ul {
//    list-style-type: none;
//}

body {
    font-family: "Roboto";
}

p {
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}
.commentStyle {
    line-height: 1.5;
    padding: 20px 20px 10px 20px;
    border-radius: $global-radius;
    background: #ecf0f1;
    p {
        margin: 0;
    }
    margin-bottom: 20px;
}

.commenterName {
    font-weight: bold;
    padding-bottom: 10px;
    display: inline;
    font-size: 1.8rem;
    margin-top: 10px;
    vertical-align: middle;
}

.actionBar {
    text-align: right;
    margin-top: 10px;
}

.leftActions {
    text-align: left;
}
.replyBox {
    display: none;
//    background: #dadada;
    border: 1px solid black;
    padding: 15px 20px 0px 20px;
    border-radius: $global-radius;
    margin-top: 10px;
    margin-bottom: 10px;
}

.replyStyle {
    padding-left: 10px;
    margin-left: 30px;
    border-left: 1px solid black;
    margin-top: 10px;
}

.csToggles {
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: $global-radius;
    fieldset {
        margin-bottom: 10px;    
    }
}

.ui-checkboxradio-checked, .ui-checkboxradio-checked:hover {
    background-color: $primary-color;
    border: none;
}